<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASFIMeet | Meeting Scheduler</title>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="ASFIMeet is a secure and high-quality video conferencing platform from ASFI. Host meetings, collaborate, and connect with teams effortlessly.">
    <meta name="keywords" content="video conferencing, online meetings, virtual meetings, remote work, team collaboration">
    <meta name="author" content="Weperch Technologies Limited">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src=" https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/ie7/ie7.min.js "></script>
<link href=" https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.min.css " rel="stylesheet">
    <!-- Open Graph (For Social Media Sharing) -->
    <meta property="og:title" content="ASFIMeet - Seamless Video Conferencing">
    <meta property="og:description" content="Host secure and high-quality video meetings with ASFIMeet. Collaborate with your team anytime, anywhere.">
    <meta property="og:image" content="https://res.cloudinary.com/diml8ljwa/image/upload/c_thumb,w_200,g_face/v1743261283/Screenshot_147_mjjyce.png">
    <meta property="og:url" content="https://asfischolar.net">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card (For Twitter Sharing) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ASFIMeet - Seamless Video Conferencing">
    <meta name="twitter:description" content="Experience high-quality, secure video meetings with ASFIMeet. Connect, collaborate, and stay productive.">
    <meta name="twitter:image" content="https://res.cloudinary.com/diml8ljwa/image/upload/c_thumb,w_200,g_face/v1743261283/Screenshot_147_mjjyce.png">
    
    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon_inverted.png" type="image/x-icon">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://asfischolar.net">

    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    
<style>
    .ql-toolbar.ql-snow{
        width:100%;
    }
    .ql-toolbar.ql-snow + .ql-container.ql-snow{
        width: 100%;
        margin:0;
        height: 200px;
        max-height: 200px;
    }
    .ti{
        cursor: pointer;
    }
</style>
</head>
<body>

    <%- include('adminMeetingsNavbar.ejs') %>
    <div class="container">
        
        <div class="createMeetingForm">
            <h1>ASFIMeet Events</h1>
            <input class="input" type="text" id="meetingName" placeholder="Enter meeting name">
            <input class="input" type="datetime-local" id="meetingTime" placeholder="Enter meeting time">

            <div class="radioContainer">
                <div class="radio-group">
                    <input class="input" type="radio" id="publicMeeting" name="isPrivate" value="no" checked>
                    <label for="publicMeeting">Public</label>
                </div>
                <div class="radio-group">
                    <input class="input" type="radio" id="privateMeeting" name="isPrivate" value="yes">
                    <label for="privateMeeting">Private</label>
                </div>
            </div>

            <!-- <div class="radioContainer"> -->
                <div style="display: flex; align-items: center; gap: 1px; width: 100%;">
                    <input class="input" type="checkbox" id="preRegistration" name="preRegistration" value="yes" style="width: max-content; max-width: max-content;">
                    <label for="preRegistration" title="Require Users to Register for this Event" >Require Pre-registration </label>
                    <i class="ti ti-ticket" title="Requires Registration" style="font-size: 18px; font-weight: 9000; color:orange;"></i>
                </div>
<%- include("./modals/description-modal.ejs") %>
         
            <!-- </div> -->
            

            <button class="button" onclick="addMeeting()">Create Meeting</button>
        </div>
     
<div class="meetingListContainer">
    <h3>Upcoming Meetings</h3>
    <div id="messageContainer" style="color:rgb(8, 199, 135)"></div>
    <div class="meetings" id="meetingList">
           
        <% if(publicMeetings && publicMeetings.length > 0) { %>
            <% publicMeetings.forEach(function(meeting) { %>
                <div class="meeting-item">
                    <p>
                        <strong><%= meeting.title %>
                         
                            <% if(meeting.privateMeeting === "yes"){ %>

                                <i class="ti ti-lock" style="font-size: 18px; color: orangered; font-weight:bolder;" title="Private Meeting"></i>
                                <% } %>
                                <% if(meeting.preRegistration === "yes"){ %>

 <i class="ti ti-ticket" title="Requires Registration" style="font-size: 18px; font-weight: 9000; color:orange;"></i>
                               
                                <% } %>
                        
                        </strong> 
                        <span><%= new Date(meeting.time).toLocaleString() %></span> 
                    </p>
                    
                    <div class="meetingsControlsContainer">
                        <% if(meeting.preRegistration === "yes"){ %>
                            <a href="/manage/pre-reg/<%=meeting.channel %>">Manage Registration Form</a>
                        <% } %>
                
                    <a href="/join/<%= meeting.channel %>?pre=true" target="_blank"><button class="button" >Start Meeting</button></a>
                    <button class="button" onclick="copyLink(`https://asfischolar.net/join/<%= meeting.channel %>`)">Copy Link</button>
                        <button class="button" onclick="addToCalendar('<%= meeting.title %>', '<%= new Date(meeting.time).toISOString() %>')">Add to Calender</button>
                         <% if(meeting.preRegistration === "yes"){ %>
                        <button class="button" onclick="window.location.href='/participants/<%= meeting.channel%>'">Participants</button>
                        <% } %>
                    <button  onclick="deleteMeeting('<%= meeting.id %>')" class="deleteMeeting"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="rgb(201, 40, 40)"><path d="M5.755 20.283 4 8h16l-1.755 12.283A2 2 0 0 1 16.265 22h-8.53a2 2 0 0 1-1.98-1.717zM21 4h-5V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v1H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2z"/></svg></button>

                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No upcoming meetings.</p>
        <% } %>
    </div>
</div>
        
    </div>
      <link rel="stylesheet" href="/assets/global/css/iziToast.min.css">
  <script src="/assets/global/js/iziToast.min.js"></script>
  <script src="/js/newMeeting.js"></script>


</body>
</html>
